@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";
@import "rehype-callouts/theme/obsidian";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.99 0.0041 301.4256);
  --foreground: oklch(0.25 0.0325 287.0807);
  --primary: oklch(0.5 0.0767 299.7335);
  --primary-foreground: oklch(0.9777 0.0041 301.4256);
  --secondary: oklch(0.8957 0.0265 300.2416);
  --secondary-foreground: oklch(0.3651 0.0325 287.0807);
  --muted: oklch(0.8906 0.0139 299.7754);
  --muted-foreground: oklch(0.5288 0.0375 290.7895);
  --border: oklch(0.8447 0.0226 300.1421);
}

.dark {
  --background: oklch(0.15 0.0215 292.8474);
  --foreground: oklch(0.95 0.0245 293.557);
  --primary: oklch(0.8 0.0777 302.0489);
  --primary-foreground: oklch(0.2166 0.0215 292.8474);
  --secondary: oklch(0.4604 0.0472 295.5578);
  --secondary-foreground: oklch(0.9053 0.0245 293.557);
  --muted: oklch(0.256 0.032 294.838);
  --muted-foreground: oklch(0.6974 0.0282 300.0614);
  --border: oklch(0.3063 0.0359 293.3367);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --radius: 0.75rem;
  --font-sans: var(--font-mono);
  --font-mono: "Space Mono", ui-monospace, monospace;
  --font-serif: var(--font-mono);
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-muted rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

* {
  @apply border-border font-mono outline-none;
}

body {
  @apply bg-background text-foreground text-base;
}

a {
  @apply hover:text-primary;
}

.theme-btn {
  @apply flex h-8 w-8 items-center justify-center rounded-lg text-muted-foreground hover:text-foreground hover:bg-background transition;
}
.theme-active {
  @apply bg-background text-foreground shadow-sm;
}

.prose {
  @apply prose-sm max-w-full prose-neutral md:prose-base;
}
.dark .prose {
  @apply prose-invert;
}
.prose img {
  @apply rounded;
}

pre code {
  white-space: pre;
  overflow-x: auto;
}

html.dark .astro-code {
  background-color: var(--shiki-dark-bg) !important;
}
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
}

.heading-anchor {
  @apply relative no-underline after:content-["#"];
}
.heading-anchor::after {
  @apply absolute -right-8 text-transparent;
}
.heading-anchor:hover::after {
  @apply cursor-pointer text-primary;
}

section.footnotes {
  @apply mt-8;
}

.callout {
  mix-blend-mode: unset;
}
.callout-title {
  @apply gap-4 pt-4;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
