---
import { Icon } from "astro-icon/components";
---

<button
  id="back-to-top"
  aria-label="Back to top"
  class="fixed bottom-8 right-8 flex p-4 bg-background border rounded transition-transform translate-y-[200%]"
>
  <Icon name="lucide:chevron-up" />
</button>
